body {
  display: flex;
  justify-content: center;
  background: rgb(209, 17, 237);
  background: linear-gradient(
    213deg,
    rgba(209, 17, 237, 1) 0%,
    rgba(160, 25, 216, 1) 67%,
    rgba(109, 34, 195, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  margin: 0;
}
.target-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 40%;
  background-color: #1b1d29;
  height: 80%;
}
.title {
  color: rgb(209, 17, 237);
}
.jumbled-word {
  border-radius: 5px;
  letter-spacing: 2vh;
  background-color: #4a5567;
  color: #97a3b6;
  font-size: 50px;
  margin: 5%;
  padding: 10px;
  box-shadow: 1px 5px #030616;
}
.rules {
  display: flex;
  justify-content: space-evenly;
}
.life-game {
  display: flex;
  width: 50%;
}
.life-number {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #97a3b6;
}
.life {
  font-size: 28px;
  color: #97a3b6;
  margin-left: 2%;
  margin-top: 3%;
}
.previous-word {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #97a3b6;
}
.user-response {
  margin-top: 10px;
  margin-bottom: 30px;
}

.letra {
  margin: 8px;
  text-align: center;
  color: #f2f5f9;
  background-color: #030616;
  border: 2px #97a3b6 solid;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.reset {
  cursor: pointer;
  width: 100px;
  border: none;
  background-color: #c951e7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 8px;
  margin: 10%;
  padding: 10px;
  color: #f2f5f9;
  box-shadow: 1px 5px #672171;
}
.random {
  cursor: pointer;
  width: 100px;
  border: none;
  background-color: #c951e7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 8px;
  margin: 10%;
  padding: 10px;
  color: #f2f5f9;
  box-shadow: 1px 5px #672171;
}
.msj {
  color: #f2f5f9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

@media (min-width: 300px) and (max-width: 900px) {
  body {
    background: rgb(209, 17, 237);
    background: linear-gradient(
      213deg,
      rgba(209, 17, 237, 1) 0%,
      rgba(160, 25, 216, 1) 67%,
      rgba(109, 34, 195, 1) 100%
    );
  }
  .target-container {
    width: 87%;
    margin: auto;
  }
  .palabra {
    font-size: 40px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .vidas {
    margin-left: 1px;
  }

  .buttons {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }
  .random {
    margin: 15px;
  }
  .reset {
    margin: 15px;
  }
  .letra {
    width: 30px;
    height: 30px;
    margin: 2px;
  }

  .msj {
    text-align: center;
    font-size: 15px;
  }
}
